*{
    margin: 0px;
    padding: 0px;
}
#pantalla{
    width: 100wh;
    height: 100vh;
    display: flex;
    background-color:yellow;
    justify-items: center;
    align-items: center;
    padding:4em;
}